examples/persistent_schedule.json
[{"id":"28c056dc.6e2fba","type":"comment","z":"d8cb3879.806298","name":"### This scenario is permanent and requires a file to read an write to ###","info":"","x":320,"y":40,"wires":[]},{"id":"a9184512.6d0338","type":"file","z":"d8cb3879.806298","name":"WriteFile","filename":"/home/debian/Documents/time-schedule0.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":720,"y":80,"wires":[[]]},{"id":"4d5aed99.b82234","type":"inject","z":"d8cb3879.806298","name":"FireAfterReboot","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["efd15a17.372ff8"]]},{"id":"efd15a17.372ff8","type":"file in","z":"d8cb3879.806298","name":"ReadFile","filename":"/home/debian/Documents/time-schedule0.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":100,"wires":[["dec834a4.768678"]]},{"id":"63338f84.0d9f5","type":"ui_switch","z":"d8cb3879.806298","name":"","label":"MyDevice","tooltip":"","group":"bfe48a3e.1b0f4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":720,"y":120,"wires":[[]]},{"id":"dec834a4.768678","type":"ui_time_scheduler","z":"d8cb3879.806298","group":"bfe48a3e.1b0f4","name":"","startDay":"0","refresh":60,"devices":["Device 1"],"onlySendChange":false,"customPayload":false,"eventMode":false,"eventOptions":[],"sendTopic":false,"lat":"","lon":"","outputs":2,"order":1,"width":0,"height":0,"x":510,"y":100,"wires":[["a9184512.6d0338"],["63338f84.0d9f5"]]},{"id":"bfe48a3e.1b0f4","type":"ui_group","name":"Scheduler","tab":"2936b813.6cde68","order":1,"disp":true,"width":"6","collapse":false},{"id":"2936b813.6cde68","type":"ui_tab","name":"Scheduler Demo","icon":"dashboard","order":1,"disabled":false,"hidden":false}]