examples/persistent_schedule.json
[{"id":"991c539f.fb285","type":"comment","z":"c1138c18.9a2628","name":"### This scenario is permanent and requires a file to read an write to ###","info":"","x":300,"y":300,"wires":[]},{"id":"ef11c701.cd9fa8","type":"file","z":"c1138c18.9a2628","name":"WriteFile","filename":"/home/debian/Desktop/schedule.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":980,"y":400,"wires":[[]]},{"id":"7822012a.876838","type":"inject","z":"c1138c18.9a2628","name":"FireAfterReboot","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":420,"wires":[["2920de2a.a86312"]]},{"id":"ed3f9cbc.988528","type":"ui_time_scheduler","z":"c1138c18.9a2628","group":"bfe48a3e.1b0f4","name":"","bgcolor":"#969696","bgactivecolor":"#0000ff","initday":"","order":2,"width":"6","height":"6","x":750,"y":420,"wires":[["ccc7140c.86cb4","ef11c701.cd9fa8"],["ee4ea530.9cd2b"]]},{"id":"ccc7140c.86cb4","type":"function","z":"c1138c18.9a2628","name":"updateView","func":"// This is necessary to keep the\n// values after a browser refresh\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":380,"wires":[["ed3f9cbc.988528"]]},{"id":"e8fd8ecf.320de","type":"function","z":"c1138c18.9a2628","name":"convert","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":420,"wires":[["ed3f9cbc.988528"]]},{"id":"2920de2a.a86312","type":"file in","z":"c1138c18.9a2628","name":"ReadFile","filename":"/home/debian/Desktop/schedule.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":420,"wires":[["e8fd8ecf.320de"]]},{"id":"ee4ea530.9cd2b","type":"ui_switch","z":"c1138c18.9a2628","name":"","label":"Pump","tooltip":"","group":"bfe48a3e.1b0f4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":970,"y":440,"wires":[[]]},{"id":"58873ad2.15505c","type":"comment","z":"c1138c18.9a2628","name":"make sure the file exists - you can copy it from github, or create one by passing msg.create to the node and save the outgoing payload","info":"","x":500,"y":340,"wires":[]},{"id":"bfe48a3e.1b0f4","type":"ui_group","z":"","name":"Demo","tab":"2936b813.6cde68","order":5,"disp":true,"width":"6","collapse":false},{"id":"2936b813.6cde68","type":"ui_tab","z":"","name":"Testportal","icon":"dashboard","order":1,"disabled":false,"hidden":false}]