examples/persistent_schedule.json
[{"id":"991c539f.fb285","type":"comment","z":"78ffc554.bebeec","name":"### This scenario is permanent and requires a file to read an write to ###","info":"","x":300,"y":40,"wires":[]},{"id":"ef11c701.cd9fa8","type":"file","z":"78ffc554.bebeec","name":"WriteFile","filename":"/home/debian/Documents/time-schedule0.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":700,"y":80,"wires":[[]]},{"id":"7822012a.876838","type":"inject","z":"78ffc554.bebeec","name":"FireAfterReboot","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":100,"wires":[["2920de2a.a86312"]]},{"id":"2920de2a.a86312","type":"file in","z":"78ffc554.bebeec","name":"ReadFile","filename":"/home/debian/Documents/time-schedule0.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":100,"wires":[["18d69559.b452cb"]]},{"id":"ee4ea530.9cd2b","type":"ui_switch","z":"78ffc554.bebeec","name":"","label":"MyDevice","tooltip":"","group":"bfe48a3e.1b0f4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":700,"y":120,"wires":[[]]},{"id":"18d69559.b452cb","type":"ui_time_scheduler","z":"78ffc554.bebeec","group":"bfe48a3e.1b0f4","name":"","refresh":60,"devices":["Device 1"],"outputs":2,"order":1,"width":0,"height":0,"x":490,"y":100,"wires":[["ef11c701.cd9fa8"],["ee4ea530.9cd2b"]]},{"id":"bfe48a3e.1b0f4","type":"ui_group","name":"PermDemo","tab":"2936b813.6cde68","order":5,"disp":true,"width":"6","collapse":false},{"id":"2936b813.6cde68","type":"ui_tab","name":"Scheduler Demo","icon":"dashboard","order":1,"disabled":false,"hidden":false}]