examples/temp_schedule.json
[{"id":"154e7213.fa5696","type":"inject","z":"c1138c18.9a2628","name":"FireAfterReboot","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":160,"wires":[["6f746475.cd97fc"]]},{"id":"6731715d.ad917","type":"ui_time_scheduler","z":"c1138c18.9a2628","group":"ecb4a309.eff9c","name":"","bgcolor":"#969696","bgactivecolor":"#0000ff","initday":"","order":2,"width":"6","height":"6","x":670,"y":160,"wires":[["879d413e.2356c8"],["b8375fc4.49b7a8"]]},{"id":"879d413e.2356c8","type":"function","z":"c1138c18.9a2628","name":"updateView","func":"// This is necessary to keep the\n// values after a browser refresh\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["6731715d.ad917"]]},{"id":"6f746475.cd97fc","type":"function","z":"c1138c18.9a2628","name":"createNewSchedule","func":"// msg.create generates a new schedule\nmsg.create = true;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["6731715d.ad917"]]},{"id":"b8375fc4.49b7a8","type":"ui_switch","z":"c1138c18.9a2628","name":"","label":"Pump","tooltip":"","group":"ecb4a309.eff9c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":970,"y":160,"wires":[[]]},{"id":"5abcc8c3.739978","type":"comment","z":"c1138c18.9a2628","name":"### This scenario is only active until node-red restarts ###","info":"","x":250,"y":80,"wires":[]},{"id":"ecb4a309.eff9c","type":"ui_group","z":"","name":"TempDemo","tab":"2936b813.6cde68","order":4,"disp":true,"width":"6","collapse":false},{"id":"2936b813.6cde68","type":"ui_tab","z":"","name":"Testportal","icon":"dashboard","order":1,"disabled":false,"hidden":false}]