examples/temp_schedule.json
[{"id":"154e7213.fa5696","type":"inject","z":"c1138c18.9a2628","name":"FireAfterReboot","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["6f746475.cd97fc"]]},{"id":"6731715d.ad917","type":"ui_time_scheduler","z":"c1138c18.9a2628","group":"ecb4a309.eff9c","name":"Pump","order":2,"width":"0","height":"0","x":650,"y":140,"wires":[[],["b8375fc4.49b7a8"]]},{"id":"6f746475.cd97fc","type":"function","z":"c1138c18.9a2628","name":"createNewSchedule","func":"msg.payload = '{\"timers\":[]}';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["6731715d.ad917"]]},{"id":"b8375fc4.49b7a8","type":"ui_switch","z":"c1138c18.9a2628","name":"","label":"Pump","tooltip":"","group":"ecb4a309.eff9c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":970,"y":160,"wires":[[]]},{"id":"5abcc8c3.739978","type":"comment","z":"c1138c18.9a2628","name":"### This scenario is only active until node-red restarts ###","info":"","x":250,"y":80,"wires":[]},{"id":"ecb4a309.eff9c","type":"ui_group","z":"","name":"TempDemo","tab":"2936b813.6cde68","order":4,"disp":true,"width":"6","collapse":false},{"id":"2936b813.6cde68","type":"ui_tab","z":"","name":"Scheduler Demo","icon":"dashboard","order":1,"disabled":false,"hidden":false}]